[submodule "example-docker-python-pip"]
	path = example-docker-python-pip
	url = ../example-docker-python-pip
[submodule "example-docker-jupyter-notebook"]
	path = example-docker-jupyter-notebook
	url = ../example-docker-jupyter-notebook
[submodule "example-docker-golang"]
	path = example-docker-golang
	url = ../example-docker-golang
[submodule "example-docker-c"]
	path = example-docker-c
	url = ../example-docker-c
[submodule "example-docker-python-uv"]
	path = example-docker-python-uv
	url = ../example-docker-python-uv
